# ----
# Site

title: 기가지니 1,2 Dev Guide v2.0
url: "http://ktaidevelopers.github.io"
baseurl:
google_analytics_key: UA-144188826-1
show_full_navigation: true

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: Product documentation template for Jekyll.
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: 
  links:
    - 

# -----
# Build

timezone: "Asia/Seoul"

toc: true

permalink: pretty

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  docs:
    title: Documentation
    permalink: /:path/
    output: true
  etc:
    permalink: /:path/
    output: true
  template:
    permalink: /:path/
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "docs"
    values:
      seo:
        type: Article
      _comments:
        category: Group navigation links with this field
        order: Used to sort links in the navigation
      _options:
        content:
          width: 800
          height: 2000
  -
    scope:
      path: ""
      type: "posts"
    values:
      _comments:
        type: Marks the impact of this release
  -
    scope:
      path: ""
      type: "etc"
    values:
      layout: default

# -----------
# CloudCannon

types:
  - minor
  - major
